<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Secretaría de Tránsito</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehiculo" routerLinkActive="active"
            >Vehículo</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/propietarios"
            routerLinkActive="active"
            >Propietario</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/infraccion" routerLinkActive="active"
            >Registrar Infracción</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historico" routerLinkActive="active"
            >Histórico de Infracciones</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
